<!DOCTYPE html>
<html>
    <head>
        <title>Destination Wedding</title>
        <link rel ="stylesheet" type="text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <div id="menu-header" class="ui fixed inverted menu">
            <div class="ui container">
              <div class ="header item"><i class ="code icon"></i>Destination Wedding Site</div> 
              <a href="/" class="item">Home</a>
              <a href="/locations/new" class="item">New Post</a>
            </div>
          </div>

        <div id="landing-header">
            <h1>Welcome to exotic Destination Wedding Locations!</h1>
           <a href="/locations" class="btn btn-lg btn-success">View exotic locations</a>
       </div>

       <ul class="slideshow">
         <li></li>
         <li></li>
         <li></li>
         <li></li>
         <li></li>
       </ul>
    </body>
    </html>   