<!DOCTYPE html>
<html>
<head>
<title>Welcome to top Destination Wedding locations </title>
<link rel ="stylesheet" type="text/css" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
</head>
<body>

<h1>Welcome to top Destination Wedding locations</h1>

<div class="ui fixed inverted menu">
    <div class="ui container">
      <div class ="header item"><i class ="code icon"></i>Destination Wedding Site</div> 
      <a href="/" class="item">Home</a>
      <a href="/locations/new" class="item">New Post</a>
    </div>
  </div>

  <div>
      <h1>Welcome to top exotic locations</h1>
      <a href = "/locations" <button class="ui green button">View All Destinations</button>>
  </div>
   
</body>
</html>