#titlething
{
    padding-top: 2px;
    padding-bottom: 0px;
    font: italic small-caps bold 50px/50px Georgia, serif;
}

#transit
{
    outline: 0.5rem solid khaki;
    box-shadow: 0 0 0 1rem skyblue;
    border-radius: 12px;
    margin: 2rem;
    padding-top: 2;
    margin: auto;
    margin-top: 10rem;
    width: 200%;
    transform: translate(0, -10%);
}

#transitform
{
    box-shadow: 0 0 0 0.2rem skyblue;
    border-radius: 10px;
    margin: 1.5rem;
    padding-top: 2;
    margin: auto;
    margin-top: 2rem;
    width: 60%;
    transform: translate(0, -10%);   
}

#image_padding
{
    padding-bottom: 5.5px;
}
#errandsuc
{
    margin-top: 75px;
}

#styling
{
    box-shadow: 0 0 0 1rem skyblue;
    border-radius: 12px;
    margin: 2rem;
    padding-top: 2;
    margin: auto;
    margin-top: 10rem;
    width: 200%;
    transform: translate(0, -10%);
}